[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "content/themes/ghost-aside"]
	path = content/themes/ghost-aside
	url = https://github.com/bryanlvenable/ghost-aside.git
